body {
	margin:0px;
	background-color: #757374;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
} 

#gametitle {
	height: 200px;
	line-height: 200px;
	width: 100%;
	text-align: center;
}

#title {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	color: aqua;
}

#outer {
	height: 300px;
	display: -webkit-flex;
}

.empty {
	height: 100%;
	-webkit-flex : 1;
}

#game {
	height: 300px;
	width: 300px;
}

.row {
	border-radius: 10px;
	display : -webkit-flex;
	height: 33.33%;
	width: 100%;
}

.block {   
	background-color: aqua;
	height: 100%;
	-webkit-flex: 1;
	border: 1px solid #000;
}

.block:hover {
	background-color: #5AC;
}

.over {
	width: 30%;
	text-align: center;
	margin: auto 35% auto 35%;
}

.message {
	color: aqua;
} 

