body {
	margin:0px;
	background-color: #757374;
} 

#gametitle {
	height: 200px;
}

#outer {
	height: 300px;
	display: -webkit-flex;
}

.empty {
	height: 100%;
	-webkit-flex : 1;
}

#game {
	height: 300px;
	width: 300px;
}

.row {
	border-radius: 10px;
	display : -webkit-flex;
	height: 33.33%;
	width: 100%;
}

.block {   
	background-color: aqua;
	height: 100%;
	-webkit-flex: 1;
	border: 1px solid #000;
}

.block:hover
{
	background-color: #5AC;
}

